.contact {
    display: flex;
    flex-direction: column;
    position: relative;
}

input[type=text],
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: transparent;
    font-size: 1.2em;
    font-weight: 300;
}

textarea {
    height: 30vh;
    resize: vertical;
    min-height: 30vh;
}

::placeholder {
    text-transform: uppercase;
}

input[type=submit] {
    background-color: rgba(53, 53, 53, 0.5);
    border: transparent;
    color: var(--white);
    padding: 0.4rem 2rem;
    margin: 8px 0;
    box-sizing: border-box;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.3em;
    border-radius: 0.5em;
}

.contact input[type=submit] {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.subtitle {
    max-width: 42rem;
    margin: 0 0 1em 0;
}

.contacts .info {
    font-size: 0.9em;
    line-height: 1.8rem;
}

.bold {
    text-transform: uppercase;
    font-weight: 500;
}

main .content.contacts div:not(:first-child) {
    margin-left: 4em;
}

main .content.contacts:last-child {
    margin: 0;
}

.text-list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    font-weight: 300;
    font-size: 1.4em;
    column-gap: 4rem;
}

.text-list li {
    list-style: none;
    padding-left: 50px;
    position: relative;
    page-break-inside: avoid;
    break-inside: avoid-column;
}

.text-list li:not(:first-child) {
    margin-top: 0.4rem;
}

.text-list li::before {
    display: inline;
    content: url('../content/list-icon-b.svg');
    width: 2.2rem;
    position: absolute;
    left: 0;
    top: -0.2rem;
}

main>div:nth-child(2n) .text-list li::before {
    content: url('../content/list-icon.svg');
}

.description {
    width: 45vw;
    margin-top: 4em;
}

.description:last-child {
    padding-bottom: calc(var(--vh, 1vh) * 20);
}

.description span.subtitle {
    display: block;
    max-width: 100%;
    margin: 0 0 2rem 0;
}

.contacts h1.subtitle:first-child {
    padding-top: 4em;
}